@{
    ViewBag.Title = "About";
}
<h3>Swiss Create</h3>
<p>Business Development</p>
<p>Höheweg 14<br>CH-2552 Orpund<br>Tel. +41 32 355 31 66</p>
<p><br><a href="mailto:info@swisscreate.com">info@swisscreate.com</a>&nbsp; <a href="http://www.swisscreate.com">www.swisscreate.com</a></p>
<br>
<div class="raster">

    <div class="raster_left" style="width: 126px;">
        <div class="image">
            <a href="http://www.swisscg.ch" target="_self"><img width="126" id="395" alt="logo_scg.jpg" src="~/Content/Images/logo_scg.png" border="0"></a>            
        </div>
    </div>

    <div class="raster_right" style="width: 294px;"><p>Swiss Create is the SME development branch of the Swiss Consulting Group SCG AG.</p></div>

</div>
<div class="raster">

    <div class="raster_left" style="width: 126px;">
        <div class="image">
            <img width="126" id="361" alt="SCBM-Logo-WEBSITE.jpg" src="~/Content/Images/SCBM-Logo-WEBSITE.png">
        </div>
    </div>

    <div class="raster_right" style="width: 294px;">
        <p>The new Swiss Create Business Manager is the ingenous tool for consultants, trainers and managers </p>
        <p><a href="en/sc-business-manager/">Hier gibt's mehr Informationen</a></p>
    </div>

</div>
<div class="raster">

    <div class="raster_left" style="width: 126px;">
        <div class="image">
            <img width="126" id="299" alt="10_Gebote.jpg" src="~/Content/Images/10_Gebote.png">

        </div>
    </div>

    <div class="raster_right" style="width: 294px;">
        <h3>Management book:</h3>
        <p>Mario Brühlmann: The 10 Comandments for Entrepreneurs - Achieving success with ethical principles</p>
        <p><a href="en/shopdownloads/order-form/">More information here</a></p>
    </div>

</div>

