@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<div class="clearfix" id="col2_content">
    <div class="image">
        <img width="290" id="274" alt="Fotolia_29670454_Subscription_XXL.jpg" src="~/Content/Images/Fotolia_29670454_Subscription_XXL.png">
    </div>
    <br>

    <p><em><strong>Swiss Create</strong></em></p>
    <p>Armutsbekämpfung durch Family Business und KMU-Förderung<br>Höheweg 14<br>CH-2552 Orpund<br>Tel. +41 32 355 31 66</p>
    <p>E-mail: info@swisscreate.com<br></p>
</div>
