@{
    ViewBag.Title = "Swiss Create Online";
}

<div class="jumbotron">
    <h2>Welcome!</h2>
    <p>
        Swiss Create is the business development branch of the Swiss Consulting Group SCG AG.
    </p>
    <p>
        We have running business development projects in countries as Romania, Vietnam, Albania, Moldawia.
    </p>
    <p>
        Thanks for your interest. Enjoy your visit on our homepage!
    </p>
    <p>
        Best Regards
        <br />
        Mario Brühlmann, CEO
        <br />
        Swiss Create
    </p>

</div>

@*<div class="row">
        <div class="col-md-4">
            <h2>?</h2>
            <p>
                Swiss Create is the business development branch of the Swiss Consulting Group SCG AG.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
    </div>*@

@*<div class="row tab-pane">
        <div class="col-md-12" id="barchart_material" style="height:500px;"></div>
    </div>

    <script src="~/Scripts/jsapi.js"></script>
    <script src="~/AJSApp/index.js"></script>*@
