@model ViCode_LeVi.Data.StepResult
@{
    Layout = null;
    var stepName = ViewData["stepName"];
    var stepIndex = Convert.ToInt32(ViewData["stepIndex"]);
}

<div class="row">
    Result:
    <div>
        <label>
            <input type="radio" name="radioResult" value=1 ng-model="ProjectData.Periods[0].Steps[@stepIndex].Result.Item.Value" class="red" title="Not good" />
        </label>
        <label>
            <input type="radio" name="radioResult" value=2 ng-model="ProjectData.Periods[0].Steps[@stepIndex].Result.Item.Value" class="green" title="Normal" />
        </label>
        <label>
            <input type="radio" name="radioResult" value=3 ng-model="ProjectData.Periods[0].Steps[@stepIndex].Result.Item.Value" class="yellow" title="Good" />
        </label>
    </div>
</div>

<div style="margin-bottom: 5px" class="row">
    <textarea name="Note" id="Note" rows="40" class="form-control" ng-model="ProjectData.Periods[0].Steps[@stepIndex].Result.Note"></textarea>
</div>


