@model SwissCreateWeb.Models.Project.ProjectEditModel
@{
    Layout = null;
    var stepIndex = Convert.ToInt32(ViewData["stepIndex"]);
}

<div class="row" style="margin-top:10px;">
    <div class="col-md-10" style="color:red; margin-top:10px;">@Model.ProjectData.Periods[0].Steps[stepIndex].FullName_UPPER:</div>
    <div class="col-md-2" style="color: black; margin-top: 10px;">RESULT:</div> 
</div>

<div class="row" style="margin-top:10px;">
    <div class="col-md-10">@Html.Partial("QuestionAnswerStep", Model.ProjectData.Periods[0].Steps[stepIndex].QuestionAnwserStep, new System.Web.Mvc.ViewDataDictionary { {"stepName","swotanalysis"}, {"stepIndex",stepIndex} })</div>
    <div class="col-md-2">@Html.Partial("StepResult", Model.ProjectData.Periods[0].Steps[stepIndex].Result, new System.Web.Mvc.ViewDataDictionary { { "stepName", "businessmodel" }, { "stepIndex", stepIndex } })</div>
</div>

<script src="~/AJSApp/Controllers/Project/ProjectEdit/Tab_SwotAnalysis.js"></script>