@model SwissCreateWeb.Models.Project.ProjectEditModel
@{
    Layout = null;
    var stepIndex = ViewBag.StepIndex;
    if (stepIndex == null)
    {
        stepIndex = 0;
    }
}

<div class="row">
    <div class="col-md-10">@Model.ProjectData.Periods[0].Steps[stepIndex].FullName_UPPER:</div>
</div>

<div class="row" style="margin-top:10px;">
    <div class="col-md-10">       
    </div>
    <div class="col-md-2">@Html.Partial("StepResult", Model.ProjectData.Periods[0].Steps[stepIndex].Result)</div>
</div>

@Html.Hidden("Hidden_ProjectId", Model.Project.Id)
@*@Html.Hidden("Hidden_StepIndex", stepIndex)*@
<input value="@stepIndex" id="Hidden_StepIndex" name="Hidden_StepIndex" type="hidden">

<script src="~/AJSApp/Controllers/Project/ProjectEdit/Tab_Finance.js"></script>